<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmBomMfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <select id="getJmBomMfDao" resultMap="countryBomMap" resultType="com.BSMES.jd.main.dto.ResultType">
        SELECT mf.bom_no as mf_bom_no,mf.sbuid as mf_sbuid,mf.hpdate as mf_hpdate,mf.pf_no as mf_pf_no,mf.prd_no as mf_prd_no,mf.name as mf_name,mf.dep as mf_dep,mf.wh as mf_wh,mf.unit as mf_unit,mf.qty as mf_qty,mf.used_time as mf_used_time,mf.time_cnt as mf_time_cnt,mf.cst as mf_cst,mf.rem as mf_rem,mf.bomid as mf_bomid,mf.unit_erp as mf_unit_erp,mf.state as mf_state,mf.smake as mf_smake,mf.creftimes as mf_creftimes,mf.sorg as mf_sorg,mf.parentid as mf_parentid,mf.prd_mark as mf_prd_mark,mf.chk_id as mf_chk_id,
        tf.bom_no as tf_bom_no,tf.itm as tf_itm,tf.prd_no as tf_prd_no,tf.wh as tf_wh,tf.unit as tf_unit,tf.qty as tf_qty,tf.los_rto as tf_los_rto,tf.cst as tf_cst,tf.qty_bas as tf_qty_bas,tf.id_no as tf_id_no,tf.prd_no_chg as tf_prd_no_chg,tf.unit_erp as tf_unit_erp,tf.zc_no as tf_zc_no,tf.prd_mark as tf_prd_mark,tf.keyparts as tf_keyparts,tf.kp_desc as tf_kp_desc,tf.feederspc as tf_feederspc,tf.usin_no as tf_usin_no,tf.zb_no as tf_zb_no
        FROM jm_bom_mf as mf
        JOIN jm_bom_tf as tf on mf.bom_no = tf.bom_no
        <where>
            <if test="begDd != null and begDd.toString().length()>0" >
                and mf.hpdate &gt;= #{begDd}
            </if>
            <if test="endDd != null and endDd.toString().length()>0" >
                and mf.hpdate &lt;= #{endDd}
            </if>
        </where>
        <if test="descOrder!=null and descOrder.length()>0 ">
            ORDER BY ${descOrder} DESC
        </if>
        <if test="ascOrder!=null and ascOrder.length()>0 ">
            ORDER BY ${ascOrder} ASC
        </if>
	</select>

    <resultMap id="countryBomMap" type="com.BSMES.jd.main.dto.BomPlus">
        <id column="mf_bom_no" property="jmBomMfDTO.bomNo"/>
        <result column="mf_sbuid" property="jmBomMfDTO.sbuid"/>
        <result column="mf_hpdate" property="jmBomMfDTO.hpdate"/>
        <result column="mf_pf_no" property="jmBomMfDTO.pfNo"/>
        <result column="mf_prd_no" property="jmBomMfDTO.prdNo"/>
        <result column="mf_name" property="jmBomMfDTO.name"/>
        <result column="mf_dep" property="jmBomMfDTO.dep"/>
        <result column="mf_wh" property="jmBomMfDTO.wh"/>
        <result column="mf_unit" property="jmBomMfDTO.unit"/>
        <result column="mf_qty" property="jmBomMfDTO.qty"/>
        <result column="mf_used_time" property="jmBomMfDTO.usedTime"/>
        <result column="mf_time_cnt" property="jmBomMfDTO.timeCnt"/>
        <result column="mf_cst" property="jmBomMfDTO.cst"/>
        <result column="mf_rem" property="jmBomMfDTO.rem"/>
        <result column="mf_bomid" property="jmBomMfDTO.bomid"/>
        <result column="mf_unit_erp" property="jmBomMfDTO.unitErp"/>
        <result column="mf_state" property="jmBomMfDTO.state"/>
        <result column="mf_smake" property="jmBomMfDTO.smake"/>
        <result column="mf_creftimes" property="jmBomMfDTO.creftimes"/>
        <result column="mf_sorg" property="jmBomMfDTO.sorg"/>
        <result column="mf_parentid" property="jmBomMfDTO.parentid"/>
        <result column="mf_prd_mark" property="jmBomMfDTO.prdMark"/>
        <result column="mf_chk_id" property="jmBomMfDTO.chkId"/>
        <collection property="jmBomTfDTOS" ofType="com.BSMES.jd.main.dto.JmBomTfDTO" column="bomNo">
            <id column="tf_bom_no" property="bomNo"/>
            <id column="tf_itm" property="itm"/>
            <result column="tf_prd_no" property="prdNo"/>
            <result column="tf_rs_no" property="rsNo"/>
            <result column="tf_wh" property="wh"/>
            <result column="tf_unit" property="unit"/>
            <result column="tf_qty" property="qty"/>
            <result column="tf_los_rto" property="losRto"/>
            <result column="tf_cst" property="cst"/>
            <result column="tf_qty_bas" property="qtyBas"/>
            <result column="tf_id_no" property="idNo"/>
            <result column="tf_prd_no_chg" property="prdNoChg"/>
            <result column="tf_unit_erp" property="unitErp"/>
            <result column="tf_zc_no" property="zcNo"/>
            <result column="tf_prd_mark" property="prdMark"/>
            <result column="tf_keyparts" property="keyparts"/>
            <result column="tf_kp_desc" property="kpDesc"/>
            <result column="tf_feederspc" property="feederspc"/>
            <result column="tf_usin_no" property="usinNo"/>
            <result column="tf_zb_no" property="zbNo"/>
        </collection>
    </resultMap>
</mapper>