<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmCheckPlanTfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <insert id="savePlanTfS" parameterType="com.BSMES.jd.main.dto.JmCheckPlanTfDTO">
        insert into jm_check_plan_tf (sid,cid,skill,item_id,item_name,mode,rem,create_time,creator,update_time,updator) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.sid}, #{item.cid}, #{item.skill}, #{item.itemId},#{item.itemName},#{item.mode},
            #{item.rem},#{item.createTime},#{item.creator},#{item.updateTime},#{item.updator})
        </foreach>
    </insert>

    <update id="updatePlanTf" parameterType="com.BSMES.jd.main.dto.JmCheckPlanTfDTO">
        UPDATE jm_check_plan_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="skill!=null">skill=#{skill},</if>
            <if test="itemId!=null">item_id=#{itemId},</if>
            <if test="itemName!=null">item_name=#{itemName},</if>
            <if test="mode!=null">mode=#{mode},</if>
            <if test="rem!=null">rem=#{rem},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="updator!=null">updator=#{updator},</if>
        </trim>
        WHERE sid=#{sid} and cid=#{cid}
    </update>

</mapper>