<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmJobRecDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <select id="getJobRec" parameterType="com.BSMES.jd.main.dto.JobRec" resultType="com.BSMES.jd.main.dto.JobRec">
        SELECT rec.opsid,job.dep,job.dev_name,job.md_name,job.prd_name,job.qty,job.beg_dd,job.end_dd,rec.qty as weight,rec.rm_name1,
        rec.qty_rm1,job.state,rec.state as state_ok,rec.state_pre,rec.qty_cur,rec.qty_lost,rec.op_rem,rec.op_dd,rec.jb_no FROM jm_job_rec as rec
        join jm_job as job on rec.jb_no = job.jb_no
        <where>
            <if test="dep != null">
                and job.dep = #{dep}
            </if>
            <if test="devName != null">
                and job.dev_name like #{devName}
            </if>
            <if test="mdName != null">
                and job.md_name like #{mdName}
            </if>
            <if test="prdName != null">
                and job.prd_name like #{prdName}
            </if>
            <if test="opDd != null">
                and datediff(hh,rec.op_dd,#{opDd})=0
            </if>
            <if test="state!=null">
                and job.state = #{state}
            </if>
            <if test="jbNo!=null">
                and rec.jb_no = #{jbNo}
            </if>
        </where>
        <if test="descOrder!=null">
            ORDER BY #{descOrder} DESC
        </if>
        <if test="descOrder!=null">
            ORDER BY #{ascOrder} ASC
        </if>
	</select>

</mapper>