<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmJobRecDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <select id="getJobRec" parameterType="com.BSMES.jd.main.dto.JobRec" resultType="com.BSMES.jd.main.dto.JobRec">
        SELECT job.sid,job.cid,rec.opsid,job.dep,job.dev_name,job.md_name,job.prd_name,job.qty,job.beg_dd,job.end_dd,rec.qty as weight,rec.rm_name1,rec.rm_name2,rec.rm_name3,
        rec.rm_name4,rec.qty_rm1,rec.qty_rm2,rec.qty_rm3,rec.qty_rm4,rec.rm_bn1,rec.rm_bn2,rec.rm_bn3,rec.rm_bn4,job.state,rec.state as state_ok,rec.qty_wt,
        rec.state_pre,rec.qty_cur,rec.qty_lost,rec.op_rem,rec.op_dd,rec.jb_no,rec.rs_no as qty_ok FROM jm_job_rec as rec
        join jm_job as job on rec.jb_no = job.jb_no
        <where>
            <if test="dep != null and dep.length()>0 ">
                and job.dep = #{dep}
            </if>
            <if test="devName != null and devName.length()>0 ">
                and job.dev_name like #{devName}
            </if>
            <if test="mdName != null and mdName.length()>0 ">
                and job.md_name like #{mdName}
            </if>
            <if test="prdName != null and prdName.length()>0 ">
                and job.prd_name like #{prdName}
            </if>
            <if test="opDd != null and opDd.toString().length()>0 ">
                and rec.op_dd between #{opDd} and #{opDd}+1
            </if>
            <if test="state!=null and state.length()>0 ">
                and job.state = #{state}
            </if>
            <if test="jbNo!=null and jbNo.length()>0 ">
                and rec.jb_no = #{jbNo}
            </if>
            <if test="rsNo!=null and rsNo.length()>0 ">
                and rec.rs_no = #{rsNo}
            </if>
        </where>
        <if test="descOrder!=null and descOrder.length()>0 ">
            ORDER BY ${descOrder} DESC
        </if>
        <if test="ascOrder!=null and ascOrder.length()>0 ">
            ORDER BY ${ascOrder} ASC
        </if>
	</select>

</mapper>