<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmMdbkTfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <insert id="saveJmMdbkTfs" parameterType="com.BSMES.jd.main.dto.JmMdbkTfDTO">
        insert into jm_mdbk_tf (sid,cid,md_no,wh,wh_loc,rem,hpdate,ed_locked,typeid,qty_produce,qty_mould,rem_wx,
        qty_mk,md_name) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.sid}, #{item.cid}, #{item.mdNo}, #{item.wh},#{item.whLoc},#{item.rem},
            #{item.hpdate},#{item.edLocked},#{item.typeid},cast(#{item.qtyProduce,jdbcType=DECIMAL} as decimal(22,8)),
            cast(#{item.qtyMould,jdbcType=DECIMAL} as decimal(22,8)),#{item.remWx},
            cast(#{item.qtyMk,jdbcType=DECIMAL} as decimal(22,8)),#{item.mdName})
        </foreach>
    </insert>

    <update id="editJmMdbkTf" parameterType="com.BSMES.jd.main.dto.JmMdbkTfDTO">
        UPDATE jm_mdbk_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="mdNo!=null">md_no=#{mdNo},</if>
            <if test="wh!=null">wh=#{wh},</if>
            <if test="whLoc!=null">wh_loc=#{whLoc},</if>
            <if test="rem!=null">rem=#{rem},</if>
            <if test="hpdate!=null">hpdate=#{hpdate},</if>
            <if test="edLocked!=null">ed_locked=#{edLocked},</if>
            <if test="typeid!=null">typeid=#{typeid},</if>
            <if test="qtyProduce!=null">qty_produce=#{qtyProduce},</if>
            <if test="qtyMould!=null">qty_mould=#{qtyMould},</if>
            <if test="remWx!=null">rem_wx=#{remWx},</if>
            <if test="qtyMk!=null">qty_mk=#{qtyMk},</if>
            <if test="mdName!=null">md_name=#{mdName},</if>
        </trim>
        WHERE sid=#{sid} and cid=#{cid}
    </update>

</mapper>