<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmMtstdTfDao">

    <update id="UpdateJmMtstdTf" parameterType="com.BSMES.jd.main.dto.JmJobRecBDTO">
        UPDATE jm_mtstd_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="mtId!=null">Mt_id=#{mtId},</if>
            <if test="chkStd!=null">chk_std=#{chkStd},</if>
            <if test="devps!=null">devps=#{devps},</if>
            <if test="chkRem!=null">chk_rem=#{chkRem},</if>
            <if test="chkFile!=null">chk_file=#{chkFile},</if>
            <if test="rem!=null">rem=#{rem},</if>
        </trim>
        WHERE opsid=#{mtstdNo} and cid=#{cid}
    </update>

</mapper>