<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmXj3TfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <insert id="saveJmXj3Tfs" useGeneratedKeys="true" keyProperty="sid" parameterType="com.BSMES.jd.main.dto.JmXj3TfDTO">
        insert into jm_xj3_tf (sid, cid, chk_no, cur_para, rlt, spc_type, spc_chk, op_rem, op_dd, dmdel, dervi_id,derviation,chkviation) values
        <foreach collection="list" item="jmXj3Tf" index="index" separator=",">
            (#{jmXj3Tf.sid}, #{jmXj3Tf.cid}, #{jmXj3Tf.chkNo}, #{jmXj3Tf.curPara},#{jmXj3Tf.rlt},#{jmXj3Tf.spcType},#{jmXj3Tf.spcChk},
            #{jmXj3Tf.opRem},#{jmXj3Tf.opDd},#{jmXj3Tf.dmdel},#{jmXj3Tf.derviId},cast(#{jmXj3Tf.derviation,jdbcType=DECIMAL} as decimal(22,8)),
            #{jmXj3Tf.chkviation})
        </foreach>
    </insert>

    <update id="editJmXj3TfS" parameterType="com.BSMES.jd.main.dto.JmXj3TfDTO">
        UPDATE jm_xj3_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="curPara!=null">cur_para=#{curPara},</if>
            <if test="rlt!=null">rlt=#{rlt},</if>
            <if test="spcType!=null">spc_type=#{spcType},</if>
            <if test="spcChk!=null">spc_chk=#{spcChk},</if>
            <if test="opRem!=null">op_rem=#{opRem},</if>
            <if test="opDd!=null">op_dd=#{opDd},</if>
            <if test="dmdel!=null">dmdel=#{dmdel},</if>
            <if test="derviId!=null">dervi_id=#{derviId},</if>
            <if test="derviation!=null">derviation=#{derviation},</if>
            <if test="chkviation!=null">chkviation=#{chkviation},</if>
        </trim>
        where
        <foreach collection="list" item="jmXj3Tf" index="index" separator="or">
            (sid=#{jmXj3Tf.sid} and cid=#{jmXj3Tf.cid} and chk_no=#{jmXj3Tf.chkNo})
        </foreach>
    </update>

    <update id="editJmXj3Tf" parameterType="com.BSMES.jd.main.dto.JmXj3TfDTO">
        UPDATE jm_xj3_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="curPara!=null">cur_para=#{curPara},</if>
            <if test="rlt!=null">rlt=#{rlt},</if>
            <if test="spcType!=null">spc_type=#{spcType},</if>
            <if test="spcChk!=null">spc_chk=#{spcChk},</if>
            <if test="opRem!=null">op_rem=#{opRem},</if>
            <if test="opDd!=null">op_dd=#{opDd},</if>
            <if test="dmdel!=null">dmdel=#{dmdel},</if>
            <if test="derviId!=null">dervi_id=#{derviId},</if>
            <if test="derviation!=null">derviation=#{derviation},</if>
            <if test="chkviation!=null">chkviation=#{chkviation},</if>
        </trim>
        WHERE sid=#{sid} and cid=#{cid} and chk_no=#{chkNo}
    </update>

    <delete id="deleteJmXj3Tf" parameterType="java.lang.String">
        delete jm_xj3_tf where sid = #{sid}
    </delete>

</mapper>