<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmXj2TfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <insert id="saveJmXj2Tfs" useGeneratedKeys="true" keyProperty="sid" parameterType="com.BSMES.jd.main.dto.JmXj2TfDTO">
        insert into jm_xj2_tf (sid, cid, jb_no, op_rem, sal_no, op_dd, prd_sn, dmdel, delay_b, over_e, para_max, para_min, chk_para, chk_name,chk_value,qty_md,state,wk_no ) values
        <foreach collection="list" item="jmXj2Tf" index="index" separator=",">
            (#{jmXj2Tf.sid}, #{jmXj2Tf.cid}, #{jmXj2Tf.jbNo}, #{jmXj2Tf.opRem},#{jmXj2Tf.salNo},#{jmXj2Tf.opDd},#{jmXj2Tf.prdSn},
            #{jmXj2Tf.dmdel},#{jmXj2Tf.delayB},#{jmXj2Tf.overE},cast(#{jmXj2Tf.paraMax,jdbcType=DECIMAL} as decimal(22,8)),cast(#{jmXj2Tf.paraMin,jdbcType=DECIMAL} as decimal(22,8)),
            #{jmXj2Tf.chkPara},#{jmXj2Tf.chkName},cast(#{jmXj2Tf.chkValue,jdbcType=DECIMAL} as decimal(22,8)),#{jmXj2Tf.qtyMd},#{jmXj2Tf.state},#{jmXj2Tf.wkNo})
        </foreach>
    </insert>

    <update id="editJmXj2Tf" parameterType="com.BSMES.jd.main.dto.JmXj2TfDTO">
        UPDATE jm_xj2_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="jbNo!=null">jb_no=#{jbNo},</if>
            <if test="opRem!=null">op_rem=#{opRem},</if>
            <if test="salNo!=null">sal_no=#{salNo},</if>
            <if test="opDd!=null">op_dd=#{opDd},</if>
            <if test="prdSn!=null">prd_sn=#{prdSn},</if>
            <if test="dmdel!=null">dmdel=#{dmdel},</if>
            <if test="delayB!=null">delay_b=#{delayB},</if>
            <if test="overE!=null">over_e=#{overE},</if>
            <if test="paraMax!=null">para_max=#{paraMax},</if>
            <if test="paraMin!=null">para_min=#{paraMin},</if>
            <if test="chkPara!=null">chk_para=#{chkPara},</if>
            <if test="chkName!=null">chk_name=#{chkName},</if>
            <if test="chkValue!=null">chk_value=#{chkValue},</if>
            <if test="qtyMd!=null">qty_md=#{qtyMd},</if>
            <if test="state!=null">state=#{state},</if>
            <if test="wkNo!=null">wk_no=#{wkNo},</if>
        </trim>
        WHERE sid=#{sid} and cid=#{cid}
    </update>

</mapper>