<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JmJob表的真身 -->
<mapper namespace="com.BSMES.jd.main.dao.JmXj1TfDao">

    <!-- id 为方法名 resultType 返回结果(需要带上路径) -->
    <update id="updateJmXj1Tf" parameterType="com.BSMES.jd.main.dto.JmXj1TfDTO">
        UPDATE jm_xj1_tf
        <trim prefix="set" suffixOverrides=",">
            <if test="qty!=null">qty=#{qty},</if>
        </trim>
        WHERE sid=#{sid} and cid=#{cid} and #{spc_no}
    </update>

</mapper>